.header {
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    margin-top: 15px;
  
    .logo-container {
      height: 100%;
      width: 70px;
      padding: 25px;
    }
  
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding: 5px;
     
  
      .option {
        padding: 10px 15px;
        cursor: pointer;
      }
    }
  }
  

  .line{
    margin-top: -20px;
  background-color: #ff6da49c;
  box-shadow: inset 0 5px 5px -2px rgba(11,99,184,0.8);
  }

  @media screen and(max-width: 400px) {
    .header {
      height: 40px;
      width: 100%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 10px;
      margin-top: 10px;
    
      .logo-container {
        height: 100%;
        width: 30px;
        padding: 20px;
      }
    
      .options {
        width: 60%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        padding: 3px;
        font-size: 10px;
        // border: 2px solid black;
       
    
        .option {
          padding: 8px 8px;
        }
      }
    }

    
  .line{
    margin-top: 8px;
    // background-color: blueviolet
  }
  }